<!doctype html>
<html lang="en" ng-app="phone-catalog">
  <head>
    <meta charset="utf-8">
    <title>Google Phone Gallery</title>
    <%= stylesheet_link_tag 'app' %>
    <%= stylesheet_link_tag 'bootstrap' %>
    <%= javascript_include_tag 'libraries/angular.js' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'controllers/phone-list' %>
    <%= javascript_include_tag 'controllers/phone-detail' %>
  </head>
  <body>
    <div ng-view></div>
  </body>
</html>